.container {
  display: grid;
  place-items: center;
  height: 100%;

  .block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 600px;
  }
  .video {
    video {
      width: 600px;
      height: 500px;
    }
  }
}
