<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Media Capture </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="ion-padding block">
      <h1>Capture Image</h1>
      <img alt="capture image" [src]="image" />

      <ion-button class="ion-padding" (click)="captureImage()">Capture Image</ion-button>
    </div>

    <div class="ion-padding video block">
      <h1>Capture Video</h1>
      <video controls preload="metadata">
        <source [src]="video" />
      </video>
      <ion-button class="ion-padding" (click)="captureImage()">Capture Video</ion-button>
    </div>

    <div class="ion-padding block">
      <h1>Capture Audio</h1>
      <audio controls>
        <source [src]="audio" />
      </audio>
      <ion-button class="ion-padding" (click)="captureImage()">Capture Audio</ion-button>
    </div>
  </div>
</ion-content>
